/* home.css */
.home-container {
    display: flex;
    height: 1000px;
  }
  
  .menu {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .menu-button {
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: background-color 0.3s;
  }
  
  .menu-button:hover {
    background-color: #0056b3;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
  }
  